#joke
    display: flex
    flex-direction: column
    width: 400px
    border: 1px solid black
    padding: 10px
    label
        margin-bottom: 10px
        // background-color: black
#jokes
    display: flex
    align-items: flex-start
    justify-content: space-between
    #all
        width: 49%
        padding: 10px
        border: 1px solid black
        box-sizing: border-box
        padding-bottom: 10px
    #fav
        width: 49%
        padding: 10px
        border: 1px solid green
        box-sizing: border-box
        padding-bottom: 10px
    